<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.UnitTesting" version="11.0.50727.1" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.18.0" targetFramework="net45" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.30.0.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.17.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.GeckoDriver.Win32" version="0.18.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.18.0" targetFramework="net45" />
  <package id="Unit" version="1.0.0.0" targetFramework="net45" />
</packages>